<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blogpost.title %>
</p>

<p>
  <b>Content:</b>
  <%= @blogpost.content %>
</p>

<p>
  <b>Written at:</b>
  <%= @blogpost.written_at %>
</p>


<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>
