<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.association :proiects %>
    <%= f.association :events %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
