%div{ :id => "projects#{@proiect.id}" }
  .toolbar
    = link_to "Back", "#{proiects_path}", :class => "back"
    %h1= @proiect.title
    %a.button{ :href =>"#{edit_proiect_path(@project)}"} Edit
  .content
    %h1 Description
    %p
      = @proiect.description
    %h2 Participants:
    %ul
      - @proiect.users.each do |user|
        %li= link_to user.name, user_url(user)
