%div{ :id => "projects#{@proiect.id}" }
  .toolbar
    = link_to "Back", "#", :class => "back"
    %h1 Project management
  .content
    %p#notice= notice

    %p
      %b Title:
      = @proiect.title

    %p
      %b Desription:
      = @proiect.description

    %p
      %b Participants:
      %ul
        - @proiect.users.each do |user|
          %li= link_to user.name, user_url(user)
