<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html>
    <head>
      <title><%= h(yield(:title) || "Untitled") %></title>
      <%= stylesheet_link_tag "/jqtouch/jqtouch.css", "/jqtouch/themes/apple/theme.css" %>
      <%= javascript_include_tag "/jqtouch/jquery.min.js", "/jqtouch/jqtouch.js", "mobile" %>
      <%= yield(:head) %>
    </head>
    <body>
      <div class="current">
        <div class="toolbar">
          <%= link_to "Back", nil, :class => "back" %>
          <h1>Project management</h1>
        </div>

        <% unless flash.empty? %>
          <div class="info">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </body>
  </html>